<div class="container">
	<div class="contents">
		<div class="sub-container">
			<label class="label">
				Sign in to continue.
			</label>
			<div>
				<input type="text" ng-model="form.email" name="" placeholder="some@company.com" class="input login_cred">
			</div>
			<div>
				<input type="password" ng-model="form.password" name="" placeholder="password" class="input login_cred">
			</div>
			<div>
				<div class="keep_me_check">
					<input class="checkbox_success" id="keepmein" ng-model="form.keepmein" type="checkbox" name="">
					<label for="keepmein">
						Keep me logged in!
					</label>
				</div>
			</div>
			<div class="login_submit">
				<button ng-click="login()">Login</button>
			</div>
			<div class="form_links clearfix">
				<a href="">Sign up</a>
				<a href="">Need help?</a>
			</div>
		</div>
	</div>
</div>




